@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
    color: white;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(1, 4, 9);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    position: fixed;
    background-color: rgb(13, 17, 23);
    border-radius: 15px;
    height: calc(100vh - 20px);
    width: 52px;
    margin: 8px 8px 8px 8px;
    border: 2px solid;
    top: 0;
    z-index: 1;
    border-color: rgb(22, 27, 34);
    transition: all .5s ease-in-out;
    font-size: 18px;
    overflow-x:hidden;
    overflow-y: auto;
}

.nav::after {
    clear: both;
}

.nav:hover {
    border-color: rgb(30, 51, 76);
}

.nav .icons {
    display: block;
}

.nav .menutoggle {
    display: block;
}

.navicon {
    position: static;
    display: block;
    background-color: transparent;
    border: 0;
    font-size: 26px;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 4px;
    height: 42px;
    min-width: 42px;
    max-width: 223px;
    border-radius: 8px;
    transition: .2s ease-in-out;
    margin-right: 4px;
    display: flex;
    overflow: hidden;
    
}

.navicon::after {
    clear: both;
    display:inline-block;
}

.navicon button {
    margin-left: 9px;
    background-color: transparent;
    border: 0;
    font-size: 22px;
    cursor: pointer;
    margin-top: 0px;
}

.navicon p {
    margin-left: 12px;
    margin-top: 10px;
    font-family: fixedsys;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
}

.navicon:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.divider {
    height: 24px;
    width: 1px;
    background-color: transparent;
    border: 0;
}

.selected {
    background-color: rgb(30, 51, 76);
}

.homeheader {
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    font-size: 3.5vh;
    flex-direction: column;
    background-color: transparent;
}

.main {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(fit-content + 25px);
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: calc(100% - 68px);
    margin-left: 68px;
    background-color: rgb(1, 4, 9);
}

.main * {
    margin-left: 68px;
    margin-right: 68px;
}

.footer {
    height: calc(fit-content + 25px);
    margin-top: 25px;
    background-color: #161b22;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    width: calc(100% - 84px);
    float: right;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid;
    border-color: #323841;
    transition: .3s ease-in-out;
    margin-bottom: 10px;
}

.footer:hover {
    border-color: rgb(30, 51, 76);
}

.footer * {
    margin-left: 68px;
    margin-right: 68px;
}

.link {
    margin-top: 10px;
    text-align: center;
    background-color: transparent;
    border: 2px solid;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    height: 28px;
    width: 300px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-color: transparent;
    transform: scale(1.2);
    border: 2px solid;
    border-color: #FFFF;
}

.content {
    background-color: rgb(1, 4, 9);
}

.link * {
    margin-left: 12px;
    margin-right: 0;
}

.link:hover {
    transition: all .3s ease-in-out;
    background-color: #FFFFFF;
    color: #010409;
}

.link:hover * {
    transition: all .3s ease-in-out;
    color: #010409;
}

@media only screen and (max-device-width: 1366px) {
    .homeheader {
      background-attachment: scroll;
    }
}

hr {
    display: block;
    margin-top: 24px;;
    margin-bottom: 24px;;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 95%;
    border-radius: 12px;
    border: 2px solid;
    color: #323841;
}

.infobox {
    border: 3px solid;
    border-color: #0087ca;
    border-radius: 12px;
    margin-top: 24px;
    width: fit-content;
    height: fit-content;
}

.infobox .title {
    background-color: #0087ca;
    font-family: 'Exo', sans-serif;
    border-radius: 8px;
    width: 100px;
    height: 24px;
    margin-top: -11px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infobox .title * {
    margin: 0;
    margin-right: 5px;
}